/* For help see "Output Styling" topic in chat/README.md */

.mod {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    padding: 10px;
    background-color: rgba(var(--LightRGBA), 0.4);    
    border-left: var(--Main) 7px solid;
    border-right: var(--Main) 7px solid;
    color: var(--Dark);
}

.chatline > .message > .emote {
    height: 1rem;
    width: auto;
}

.chatline > .timestamp {
    font-size: 0.95rem;
    opacity: 0.8;
    font-family: monospace, monospace;
    font-variant-numeric: tabular-nums;
}
