/* For help see "Output Styling" topic in chat/README.md */

.mod {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    border-bottom: var(--Main) 7px solid;
}

.chatline > .message > .emote {
    height: 1rem;
    width: auto;
}
